#container {
    position: relative;
    display: grid;
    grid-template-areas: 
        'head head head head head head'
        'navi navi navi navi navi navi'
        'cola cola cola colb colb colb'
        'colc colc colc cold cold cold'
        'foot foot foot foot foot foot';

    grid-template-rows: min-content 70px min-content min-content 120px;
}

#container header {
    grid-area: head;
    height: 100vh;
    min-height: 750px;
    background: url(../images/hibachi-2.jpg) no-repeat center center fixed;
    background-size: cover;
    display: grid;
    grid-template-areas:
        '. . . . . . .'
        '. . . brand . . .'
        '. . . res . . .'
        '. . . res . . .'
        '. . . . . . .';
    grid-template-rows: 1fr min-content min-content min-content 1fr 1fr;
    gap: 30px;
}

#header-logo {
    grid-area: brand;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-self:center;
    background-image: url('../images/shogun_2.png') !important;
    background-color: white;
    background-size: 125px !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-position-y: center !important;
}
.thinking {
    animation: pulse 0.9s infinite;
    -webkit-animation: pulse 0.9s infinite;
}

.failed {
    background-color: red !important;
}

.passed {
    background-color: #11FF00 !important;
}

#reservation-container {
    grid-area: res;
    background-color: white;
}

#container nav {
    grid-area: navi;
}

#nav-grid-mobile {
	display: none;
	height: 100%;
	grid-template-columns: minmax(75px, 1fr) repeat(4, minmax(90px, max-content));
}

#nav-grid {
	display: grid;
	height: 100%;
	grid-template-columns: minmax(75px, 1fr) repeat(4, minmax(90px, max-content));
}

#nav-grid a {
	font-weight: 100;
	display: flex;

}
#nav-grid a.middle {
	align-items: center;
	align-content: center;
}
#nav-grid a.center {
	
	justify-items: center;
	justify-content: center;
	
}
#nav-grid a img {
	height: 50px;
	width: 50px;
}

#container footer {
    grid-area: foot;
    border: 1px solid blue;
}

@keyframes colorchange
{
    0%   {border-color: red;}
    25%  {border-color: yellow;}
    50%  {border-color: green;}
    75%  {border-color: blue;}
    100% {border-color: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
    0%   {border-color: red;}
    25%  {border-color: yellow;}
    50%  {border-color: green;}
    75%  {border-color: blue;}
    100% {border-color: red;}
}

@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1.0);
    }
    50% {
      -webkit-transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1.0);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
