
#container header {
    min-height: unset;
    grid-area: head;
    grid-template-areas:
        '. brand res res res res .'
        '. brand res res res res .';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: min-content min-content 1fr 1fr 1fr 1fr min-content;

}

#header-logo {
    grid-area: brand;
    width: 200px;
    height: 200px;
    background-size: 150px !important;
}
.reservation-form {
    margin: 1px;

}

.reservation-form h5 {
    margin: 0px;
    padding: 0px;
}
