
#container header {
    min-height: unset;
    grid-area: head;
    grid-template-areas:
        '. . . . . . .'
        '. brand res res res res .'
        '. brand res res res res .'
        '. . . . . . .';
    grid-template-rows: min-content 1fr 1fr min-content;
    grid-template-columns: min-content 1fr 1fr 1fr 1fr 1fr min-content;
    gap: 20px;
}

#header-logo {
    grid-area: brand;
    width: 200px;
    height: 200px;
    background-size: 150px !important;
}
.reservation-form input,
.reservation-form textarea,
.reservation-form select,
.reservation-form button,
.reservation-form label {
    font-size: .9rem;
}

.reservation-form h5 {
    margin: 0px;
    padding: 0px;
}

.reservation-form {
    margin: 1px;
    display: grid;
    grid-template-rows: min-content 1fr;
}

#reservation-form-1 {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr min-content;
}

#reservation-form-2 {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr min-content;
}

#reservation-form-scrollable {
    overflow-x: auto;
    overflow-y: hidden;
}

/** modals **/
.modal-dialog {
    margin: 10% auto;
}
#finish-step-1{
    grid-template-areas:
        'loader content content content'
        'loader content content content'
        '. content content content';
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 125px 1fr 1fr 1fr;
}

#finish-step-1 #content, #finish-step-2 #content {
    text-align: justify;
}

#finish-step-2 {
    display: grid;
    grid-template-areas:
        'loader content content content'
        'loader content content content'
        'btn btn btn btn';
    grid-template-rows: 1fr 1fr min-content;
    grid-template-columns: 125px 1fr 1fr 1fr;
}

// message modal
.c-container {
    margin: auto !important;
}
.message-p {
    margin: 0;
    text-align: center;
    font-size: 1.5rem !important;
}
.o-circle {
    display: flex;
    width: 6rem;
    height: 6rem;
}
.o-circle__sign--success .o-circle__sign {
    width: 0.6rem;
    height: 4rem;
}
.message-modal .modal-dialog {
    margin: 5% auto;
    max-height: unset;
}
.c-container__circle {
    margin: 0 auto;
}
