#container header {
    grid-area: head;
    height: 100vh;
    grid-template-areas:
        '. . . . . . .'
        '. . . brand . . .'
        '. . res res res . .'
        '. . res res res . .'
        '. . . . . . .' !important;
    grid-template-columns: repeat(7 1fr) !important;
    grid-template-rows:10px min-content min-content min-content 1fr !important;
}