@import "../../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../../node_modules/ag-grid-community/dist//styles/ag-theme-balham.css";

#blackout-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100% !important;
    height: 100%;
    margin-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
}

#blackout-grid-container .ag-center-cols-container, 
#blackout-grid-container .ag-header-container, 
#blackout-grid-container .ag-header-row,
#blackout-grid-container .ag-header-cell {
    width: 100% !important;
}

.ag-center-cols-viewport {
    overflow: auto !important;
}