
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$error: #d75453;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$gray: #ddd;
$light-gray: #e5e5e5;
$darker-gray: #a9a9a9;
$dark-gray: #5e5e5e;
$black: #000000;

// Alerts
$danger-background: #F8D7DA;
$danger-border: #F5C5CB;
$danger-color: #721C23;
$info-background: #D1ECF1;
$info-border: #BEE5EB;
$info-color: #1E606D;
$primary-background: #CCE5FF;
$primary-border: #B8DAFF;
$primary-color: #004085;
$secondary-background: #E2E3E5;
$secondary-border: #D6D8DB;
$secondary-color: #383C41;
$success-background: #D4EDDA;
$success-border: #C3E6CB;
$success-color: #155723;
$warning-background: #FFF3CD;
$warning-border: #FFEEBA;
$warning-color: #856405;
// Themes
$primary: #3490dc;
$secondary: #4dc0b5;

// Navigation
$nav-background-color: #000000;
$hamburger-open-color: #5e5e5e;

