@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.none {
  display: none !important;
}

.hide {
  visibility: hidden;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: #1cb841;
  /* this is a green */
}

.button-error {
  background: #ca3c3c;
  /* this is a maroon */
}

.button-error:hover {
  background: #e3342f;
}

.button-warning {
  background: #df7514;
  /* this is an orange */
}

.button-secondary {
  background: #42b8dd;
  /* this is a light blue */
}

.flip-card {
  -webkit-perspective: inherit;
          perspective: inherit;
}

.flip-card-inner {
  position: relative;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.activate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 1;
}

#container {
  position: relative;
  display: grid;
  grid-template-areas: 'head head head head head head' 'navi navi navi navi navi navi' 'cola cola cola colb colb colb' 'colc colc colc cold cold cold' 'foot foot foot foot foot foot';
  grid-template-rows: -webkit-min-content 70px -webkit-min-content -webkit-min-content 120px;
  grid-template-rows: min-content 70px min-content min-content 120px;
}

#container header {
  grid-area: head;
  height: 100vh;
  min-height: 750px;
  background: url(../images/hibachi-2.jpg) no-repeat center center fixed;
  background-size: cover;
  display: grid;
  grid-template-areas: '. . . . . . .' '. . . brand . . .' '. . . res . . .' '. . . res . . .' '. . . . . . .';
  grid-template-rows: 1fr -webkit-min-content -webkit-min-content -webkit-min-content 1fr 1fr;
  grid-template-rows: 1fr min-content min-content min-content 1fr 1fr;
  gap: 30px;
}

#header-logo {
  grid-area: brand;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-image: url("../images/shogun_2.png") !important;
  background-color: white;
  background-size: 125px !important;
  background-repeat: no-repeat !important;
  background-position-x: center !important;
  background-position-y: center !important;
}

.thinking {
  animation: pulse 0.9s infinite;
  -webkit-animation: pulse 0.9s infinite;
}

.failed {
  background-color: red !important;
}

.passed {
  background-color: #11FF00 !important;
}

#reservation-container {
  grid-area: res;
  background-color: white;
}

#container nav {
  grid-area: navi;
  border: 1px solid red;
}

#container footer {
  grid-area: foot;
  border: 1px solid blue;
}

@keyframes colorchange {
  0% {
    border-color: red;
  }
  25% {
    border-color: yellow;
  }
  50% {
    border-color: green;
  }
  75% {
    border-color: blue;
  }
  100% {
    border-color: red;
  }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0% {
    border-color: red;
  }
  25% {
    border-color: yellow;
  }
  50% {
    border-color: green;
  }
  75% {
    border-color: blue;
  }
  100% {
    border-color: red;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.reservation-form {
  padding: 10px;
  border-radius: 5px;
}

.reservation-form hr {
  border: 1px solid #e5e5e5 !important;
}

.reservation-form fieldset {
  padding: 0;
}

#party-size {
  border-radius: 5px 5px 0 0 !important;
  border-bottom: none;
  z-index: 0;
}

#party-size:focus {
  z-index: 1;
}

.reservation-form h5 {
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.reservation-form input,
.reservation-form textarea,
.reservation-form select,
.reservation-form button,
.reservation-form label {
  font-weight: 100;
  font-size: 13px;
}

.reservation-form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-animation: none;
  padding: 5px;
  height: 35px;
}

.form-container {
  position: relative;
}

.form-container label {
  border: none !important;
  font-size: 10px;
  margin: 0;
  position: absolute;
  top: 3px;
  right: 4px;
  color: #a5a5a5 !important;
  z-index: 1;
  background: transparent;
}

#reservation-date {
  position: relative;
  top: 0px;
}

#reservation-date input {
  position: relative;
  top: 0px;
  border-radius: 0;
  width: 100% !important;
  background-color: #ffffff;
  z-index: 0;
  border-top: none;
  border-bottom: none;
}

#reservation-date input:focus {
  z-index: 1;
  border-top: 1px;
  border-bottom: 1px;
}

#time-select {
  border-top: none;
  border-radius: 0 0 5px 5px;
}

#special-instructions {
  border-radius: 5px;
}

.reservation-form input.validated,
.reservation-form textarea.validated,
.reservation-form select.validated,
.reservation-form button.validated,
.reservation-form label.validated {
  background-color: #D4FFD1 !important;
  border: 1px solid #0CAE00 !important;
  color: #076C00 !important;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
@media (min-width: 1025px) and (max-width: 1280px) {
  #container header {
    grid-area: head;
    height: 100vh;
    background: url(../images/hibachi-2.jpg) no-repeat center center fixed;
    background-size: cover;
    display: grid;
    grid-template-areas: '. . . . . . .' '. . . brand . . .' '. . . res . . .' '. . . res . . .' '. . . . . . .';
    grid-template-rows: 20px -webkit-min-content -webkit-min-content -webkit-min-content 1fr;
    grid-template-rows: 20px min-content min-content min-content 1fr;
    gap: 30px;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
@media (min-width: 768px) and (max-width: 1024px) and (min-height: 500px) {
  #container header {
    grid-area: head;
    height: 100vh;
    grid-template-areas: '. . . . . . .' '. . . brand . . .' '. . res res res . .' '. . res res res . .' '. . . . . . .' !important;
    grid-template-columns: repeat(7 1fr) !important;
    grid-template-rows: 10px -webkit-min-content -webkit-min-content -webkit-min-content 1fr !important;
    grid-template-rows: 10px min-content min-content min-content 1fr !important;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #container header {
    min-height: unset;
    grid-area: head;
    grid-template-areas: '. . . . . . .' '. brand res res res res .' '. brand res res res res .' '. . . . . . .';
    grid-template-rows: -webkit-min-content 1fr 1fr -webkit-min-content;
    grid-template-rows: min-content 1fr 1fr min-content;
    grid-template-columns: -webkit-min-content 1fr 1fr 1fr 1fr 1fr -webkit-min-content;
    grid-template-columns: min-content 1fr 1fr 1fr 1fr 1fr min-content;
  }
  #header-logo {
    grid-area: brand;
    width: 200px;
    height: 200px;
    background-size: 150px !important;
  }
  .reservation-form {
    margin: 1px;
  }
  .reservation-form h5 {
    margin: 0px;
    padding: 0px;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  #container header {
    min-height: unset;
    grid-area: head;
    grid-template-areas: '. brand res res res res .' '. brand res res res res .';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: -webkit-min-content -webkit-min-content 1fr 1fr 1fr 1fr -webkit-min-content;
    grid-template-columns: min-content min-content 1fr 1fr 1fr 1fr min-content;
  }
  #header-logo {
    grid-area: brand;
    width: 200px;
    height: 200px;
    background-size: 150px !important;
  }
  .reservation-form {
    margin: 1px;
  }
  .reservation-form h5 {
    margin: 0px;
    padding: 0px;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    */
@media (min-width: 320px) and (max-width: 480px) {
  #container {
    position: relative;
    display: grid;
    grid-template-areas: 'head head head head head head' 'navi navi navi navi navi navi' 'cola cola cola colb colb colb' 'colc colc colc cold cold cold' 'foot foot foot foot foot foot';
    grid-template-rows: -webkit-min-content 70px -webkit-min-content -webkit-min-content 120px;
    grid-template-rows: min-content 70px min-content min-content 120px;
  }
  #container header {
    grid-area: head;
    height: 100vh;
    min-height: 750px;
    background: url(../images/hibachi-2.jpg) no-repeat center center fixed;
    background-size: cover;
    display: grid;
    grid-template-areas: '. . . . . . .' '. . . brand . . .' '. res res res res res .' '. res res res res res .' '. . . . . . .';
    grid-template-rows: 10px -webkit-min-content -webkit-min-content -webkit-min-content 1fr;
    grid-template-rows: 10px min-content min-content min-content 1fr;
  }
  #header-logo {
    grid-area: brand;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    background-image: url("../images/shogun_2.png") !important;
    background-color: white;
    background-size: 100px !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-position-y: center !important;
  }
}
