.badge {
    border-radius: 7px;
}

.badge-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;

}

.badge-title {
    font-size: 10px;
    font-weight: 100;
    color: $dark-gray;
}

.badge-none {
    height: 0px !important;
    width: 0px !important;
    display:none !important;
}
.badge-danger {
    background-color: $danger-background;
    border: 1px solid $danger-border;
    color: $danger-color;
}
.badge-info {
    background-color: $info-background;
    border: 1px solid $info-border;
    color: $info-color;
}
.badge-primary {
    background-color: $primary-background;
    border: 1px solid $primary-border;
    color: $primary-color;
}
.badge-secondary {
    background-color: $secondary-background;
    border: 1px solid $secondary-border;
    color: $secondary-color;
}
.badge-success {
    background-color: $success-background;
    border: 1px solid $success-border;
    color: $success-color;
}
.badge-warning {
    background-color: $warning-background;
    border: 1px solid $warning-border;
    color: $warning-color;
}