#image-modal {
    .modal-dialog {
        height: 100vh;
        width: 100vw;
    }
    .modal-body {
        overflow-y: auto;
    }
    .preview-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,.6);
    }
    .preview-image {
        height: 200px;
        width: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

    }
}
