#admin .container {
    min-height: 400px;
    padding: 15px;
    height: calc(100vh - 120px);
}
#reservation-form-card {
    height: 675px;
}

#search-results {
    width: calc(100vw);
    position: fixed;
    left: 0px;
    right: 0px;
    border-top: unset;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    border-radius: 0 0 10px 10px;
    background-color: #ffffff;
    z-index: 99999;
}

#blackout-grid-container {
    min-height: 500px;
}

.container-rules {
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
}

//modals

.modal.opened {
    justify-content: center;
}
.modal-body {
    overflow-y: auto;
}
.modal-dialog {
    height: 100vh;
}
