.main-content {
    padding: 10px;
    overflow-x: hidden;
}
.container-rules {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    grid-auto-rows: auto;
    gap: 10px;
    min-height: 600px;
}