#admin .container {
    min-height: 300px;
    padding: 15px;
    height: calc(100vh - 150px);
}
#reservation-form-card {
    height: 675px;
}

#search-results {
    width: calc(100vw);
    position: fixed;
    left: 0px;
    right: 0px;
    border-top: unset;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    border-radius: 0 0 10px 10px;
    background-color: #ffffff;
    z-index: 99999;
}

.container-rules {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "a a a b b b"
                         "a a a b b b"
                         "a a a b b b"
                         "c c c c c c"
                         "c c c c c c";
    padding: 0;
    margin: 0;
}

.container-rules #card-basic {
    grid-area: c;
}

.container-rules #card-blackout {
    grid-area: a;
}

.container-rules #card-storehours {
    grid-area: b;
}

//modals
.modal.opened {
    justify-content: center;
}
.modal-body {
    overflow-y: auto;
}
.modal-dialog {
    height: 100vh;
}
